body{
    margin: 0%;
    padding: 0%;
    position: relative;
}
:root{
    --hero:537px;
    --herolayout:flex;
}
@media (prefers-color-scheme: dark) {

}




@media (prefers-color-scheme: dark) {

}
