.card_contain{
    width: 80%;
    max-width: 1080px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: auto;
    margin-right: auto;
    gap: 2em;
    margin-top: 48px;
}
.header{
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
}
/* Mobile Responsive Styles */
@media (max-width: 768px) {
    .card_contain{

        grid-template-columns: repeat(2,1fr);

    }
  }
  
@media (max-width: 480px) {
    .card_contain{

        grid-template-columns: repeat(1,1fr);

    }
  }